a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
/*---------*/

html, body {
    background:white;
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}


#wrapper {
    width: 100%;
    height: 100%;
    background: #3B3A3D;
    margin: auto;
    border: none;
}

/*HEADER MENU*/

header {
    width: 100%;
    max-height: 100px;
    left: 0;
    top: 0;
    z-index: 50;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
    line-height: 50px;
    margin:auto;
}

#header h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 30px;
    color:white;
    font-family: 'Helvetica', 'Arial', sans-serif;
}



.header_menu {
    float: right;
    display: flex;
    padding: 10px;
}


.menu_link {
    text-align: center;
    text-decoration: none;
    background-color: #7AA899;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    width: 90px;
    line-height: 40px;
    -webkit-user-drag: none;
    font-weight: 550;
}

.menu_link:hover {
    background-color: #597a70;
    transition: 0.5s;
}

.menu_link:focus {
    background-color: #3d544d;
    transition: 0.1s;
}
/*---------*/



/*CONTENT*/

.content {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    bottom: 0;
    margin: auto;
    display: flex;
}

.content_wrapper {
    width: 100%;
    height: 100%;
    resize: horizontal;
    transition: 0.5s;
}

.resizer {
    width:25px;
    height: 100%;
    background: #414047;
    border: 1px solid #2a292e;
    box-sizing: border-box;
    transition:0.3s;
    z-index: 800;
}

.resizer:hover {
    background: #2E2E34FF;
}

.resizer:hover .resizer_label {
    color: #2E2E34FF;
    transition: 0.5s;
}

.resizer_label {
    transform: rotate(90deg);
    color: #414047;
    transition: 0.5s;
    user-select: none;
}

.content_container {
    border-top: none;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.content_wrapper:last-child {
    padding-left: 0;
    border-left: none;
}

.content_container_header {
    max-height: 50px;
    box-sizing: border-box;
    padding: 0 50px 0 50px;
    background: #8c8994;
    text-align: left;
    vertical-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
}

.content_container_header div {
    height: 50px;
    display: flex;
    vertical-align: center;
}

#language_select, #graph_select {
    margin: 5px 0 5px 0;
    width: 100px;
    background: #414047;
    color:white;
    text-align: center;
    border:none;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 550;
}

#code {
    height: calc(100% - 50px);
    width: 100%;
    padding:0;
    position: absolute;
    margin:0;
    border:none;
    max-height: 100%;
    resize: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#code_container {
    height: calc(0.75 * (100% - 40px));
    transition: 0.5s;
}

#console_gutter {
    width: 100%;
    height: 40px;
    background: #3b3a3e;
    line-height: 40px;
    padding-left: 44px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
}

#console_gutter:hover {
    background: rgb(47, 46, 49);
    transition: 0.5s;
}

#console_content {
    width: calc(50% - 25px);
    position: absolute;
    height: calc(0.25 * (100% - 40px));
    overflow-y: scroll;
    overflow-x: initial;
    text-overflow: ellipsis;
    word-break: break-all;
    padding: 10px 44px 10px 44px;
    box-sizing: border-box;
    transition: 0.5s;
    background: white;
    display: flex;
    flex-wrap: wrap;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #c55350;
}

#graph {
    background: white;
    width: 100%;
    height: 100%;
    border:none;
    display: inline-block;
    vertical-align: center;
    user-select: none;
}


#graph svg {
    background: white;
    width: 100%;
    height: 100%;
}

.ThemeButton {
    margin: 5px 15px 5px 0;
    width: 40px;
    height: 40px;
    background: #414047;
    text-align: center;
    border:none;
    border-radius: 10px;
    transition: 0.5s;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#code, .ace_active-line, .ace_gutter, .ace_gutter-cell {
    transition: 0.5s;
    transition-property: background-color, border, color;
    user-select: none;
}

#ThemeIcon {
    width: 80%;
    display: block;
    margin: 0;
}


.select_body {
    margin: 5px 0 5px 0;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}


.select_header {
    min-width: 90px;
    padding-left: 5px;
    max-height: 40px;
    background: #414047;
    color:white;
    text-align: center;
    border:none;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select_dropdown_icon {
    width: 15px;
    margin-right: 5px;
    filter: invert();
}

.select_content {
    display: none;
    border-radius: 10px;
    background: #414047;
    margin: 2px 0 0 0; /* To remove default bottom margin */
    padding: 0;
    text-align: center;
}

.select_current {
    margin-left:auto;
    margin-right:auto;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
}


.select_content li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0;
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 550;

}

.select_content li:hover {
    background-color: #2E2E34FF;
    border-radius: 10px;
    transition: 0.5s;
    transition-property: background-color;
}

#loading_panel {
    position: absolute;
    z-index: 600;
    bottom: 0;
    right: 0;
    display: none;
}

.loading_icon {
    width: 100px;
    margin: 15px;
}

.blinking {
    animation: blink_animation 3s ease-in-out infinite;
}

@keyframes blink_animation {
    0%   { opacity: 0 }
    50%  { opacity: 80% }
    100% { opacity: 0 }
}

#logout_button {
    display: none;
}

#load_code_panel {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 300px;
    max-height: 500px;
    display: none;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    background-color: #8c8994;
    box-shadow: 1px 1px 10px black;
}

#load_code_panel_header {
    display: flex;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

#load_code_panel .select_current {
    width: 100%;
    background-color: #2E2E34FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#load_code_panel .select_content {
    overflow-y: auto;
    display: block;
}

#load_code_panel .select_header {
    padding: 0;
}

#load_code_panel .select_body {
    overflow-y: hidden;
    margin: 0;
}

#panel_load_button, #panel_delete_button {
    height: 25px;
    width: 100%;
    top:0;
    text-align: center;
    line-height: 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 550;
    color: #2E2E34FF;
}

#panel_load_button {
    background-color: rgb(125, 210, 133);
    border-top-left-radius: 10px;
}

#panel_delete_button {
    background-color: #ff6b66;
    border-top-right-radius: 10px;
}

#panel_load_button:hover {
    background-color: rgb(101, 171, 108);
    transition: 0.5s;
}

#panel_delete_button:hover {
    background-color: #c5534f;
    transition: 0.5s;
}

