[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
graphviz = "*"
staticfg = "*"
docker = "*"
antlr4-python3-runtime = "*"
fastapi-sessions = "*"

[dev-packages]

[requires]
python_version = "3.10"
