<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModelViewer</title>
    <link rel="icon" type="image/x-icon" href="/client/images/favicon.ico">
    <link href="/client/styles/style.css" rel="stylesheet">

    <script src="/client/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/theme-cloud9_night.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/theme-cloud9_day.js" type="text/javascript" charset="utf-8"></script>

    <script src="/client/ace/src/mode-python.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-kotlin.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-java.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-golang.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js" referrerpolicy="no-referrer"></script>
</head>

<body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
    <div id="wrapper">
        <header id="header">
            <h1>ModelViewer</h1>
            <nav class="header_menu">
                <div href="" class="menu_link" onclick="save()" id="save_button">Save</div>
                <div href="" class="menu_link" onclick="toggle_load_panel()" id="load_button">Load</div>
                <a href="https://oauth.vk.com/oauth/authorize?client_id=8213455&display=page&redirect_uri=http://localhost:8000/vk&response_type=code&v=5.131"
                class="menu_link" id="login_button">Log In</a>
                <div href="" class="menu_link" id="logout_button" onclick="log_out()">Log Out</div>
            </nav>
        </header>
        <div class="content">
            <div class="resizer" id="code_resizer" ondblclick="toggle_expand_mode('code')">
                <h4 class="resizer_label" id="code_resizer_label">Code</h4>
            </div>
            <div class="content_wrapper" id="code_wrapper">
                <div id='code_container' class="content_container">
                    <header class="content_container_header">
                        Code
                        <div>
                            <button onclick="toggle_code_theme(this)" class="ThemeButton">
                                <img id="ThemeIcon" src="/client/images/night_light.svg"/>
                            </button>
                            <div class="select_body" state='hidden' id="code_box"
                                 onclick="toggle_select(this);
                                          configure_code_section(get_current(this))">
                                <div class="select_header">
                                    <span class="select_current"></span>
                                    <img class="select_dropdown_icon" src="/client/images/down-arrow.svg"/>
                                </div>
                                <ul class="select_content"></ul>
                            </div>
                        </div>
                    </header>
                    <div id="code"></div>
                </div>
                <div id="console_gutter" ondblclick="toggle_console_log()">Compilation Logs</div>
                <div id="console_content"></div>
            </div>
            <div class="resizer" id="graph_resizer" ondblclick="toggle_expand_mode('graph')">
                <h4 class="resizer_label" id="graph_resizer_label">Graph</h4>
            </div>
            <div class="content_wrapper" id="graph_wrapper">
                <div class="content_container">
                    <header class="content_container_header">
                        Model
                        <div class="select_body" state='hidden' id="graph_box"
                                 onclick="toggle_select(this)">
                                <div class="select_header">
                                    <span class="select_current"></span>
                                    <img class="select_dropdown_icon" src="/client/images/down-arrow.svg"/>
                                </div>
                                <ul class="select_content"></ul>
                        </div>
                    </header>
                    <div id="graph">
                        <div id="loading_panel">
                            <img class="loading_icon blinking" src="/client/images/icons8-sand-timer-96_dark.svg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="load_code_panel">
            <div id="load_code_panel_header">
                <div id="panel_load_button" onclick="load_selected_example()">
                    Load
                </div>
                <div id="panel_delete_button" onclick="delete_selected_example()">
                    Delete
                </div>
            </div>
            <div class="select_body" state='shown' id="load_box">
                        <div class="select_header">
                            <span class="select_current"></span>
                        </div>
                        <ul class="select_content"></ul>
            </div>
        </div>
    </div>
    <script src="/client/scripts/script.js"></script>
</body>
</html>