<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/client/styles/style.css" rel="stylesheet">

    <script src="/client/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/theme-cloud9_night.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/theme-cloud9_day.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-python.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-kotlin.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-java.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-golang.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client/ace/src/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>


</head>

<body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
    <div id="wrapper">
        <header id="header">
            <h1>GraphViewer</h1>
            <nav class="header_menu">
                <a href="" class="menu_link">Save</a>
                <a href="" class="menu_link">Log In</a>
            </nav>
        </header>
        <div class="content">
            <div class="resizer" id="code_resizer" ondblclick="toggle_expand_mode('code')">
                <h4 class="resizer_label" id="code_resizer_label">Code</h4>
            </div>
            <div class="content_wrapper" id="code_wrapper">
                <div class="content_container">
                    <header class="content_container_header">
                        Code
                        <div>
                            <button onclick="toggle_code_theme(this)" class="ThemeButton">
                                <img id="ThemeIcon" src="/client/images/night_light.svg"/>
                            </button>
                            <select id="language_select" onchange="configure_code_section(this.value); update_graph()">
                                <option>Python</option>
                                <option>Kotlin</option>
                                <option>Java</option>
                                <option>Go</option>
                                <option>C</option>
                                <option>Javascript</option>
                            </select>
                        </div>
                    </header>
                    <div id="code"></div>
                </div>
            </div>
            <div class="resizer" id="graph_resizer" ondblclick="toggle_expand_mode('graph')">
                <h4 class="resizer_label" id="graph_resizer_label">Graph</h4>
            </div>
            <div class="content_wrapper" id="graph_wrapper">
                <div class="content_container">
                    <header class="content_container_header" id="graph_content_header">
                        Graph
                        <select id="graph_select" onchange="update_graph()">
                            <option>AST</option>
                            <option>CFG</option>
                            <option>DDG</option>
                            <option>SSA</option>
                        </select>
                    </header>
                    <div id="graph"></div>
                </div>
            </div>
        </div>
    </div>
    <script>

        /*CODE SECTION SCRIPTS*/

        var theme_is_dark = false;
        var editor = ace.edit("code");
        editor.setTheme("ace/theme/cloud9_day");

        editor.setOptions({
          fontSize: "14pt"
        });

        var PythonMode = ace.require("ace/mode/python").Mode;
        var KotlinMode = ace.require("ace/mode/kotlin").Mode;
        var JavaMode = ace.require("ace/mode/java").Mode;
        var GoMode = ace.require("ace/mode/golang").Mode;
        var CMode = ace.require("ace/mode/c_cpp").Mode;
        editor.session.setMode(new PythonMode());
        editor.setShowPrintMargin(false);

        function toggle_code_theme(button) {
            var icon = document.getElementById("ThemeIcon")
            if (theme_is_dark) {
                editor.setTheme("ace/theme/cloud9_day");
                icon.src="/client/images/night_light.svg";
                button.style.setProperty("color", "white");
                button.style.setProperty("background", "#414047");
            } else {
                editor.setTheme("ace/theme/cloud9_night");
                icon.src="/client/images/day_dark.svg";
                button.style.setProperty("color", "#414047");
                button.style.setProperty("background", "white");
            }
            theme_is_dark = !theme_is_dark;
        }

        function configure_code_section(language) {
            switch (language) {
                case "Python":
                    editor.session.setMode(new PythonMode());
                    break
                case "Kotlin":
                    editor.session.setMode(new KotlinMode());
                    break
                case "Java":
                    editor.session.setMode(new JavaMode());
                    break
                case "Go":
                    editor.session.setMode(new GoMode());
                    break
                case "C":
                    editor.session.setMode(new GoMode());
                    break
            }
        }


        let delayTimer;
        let wait_for_change_delay = 2000;
        function update_graph() {
            let language = document.getElementById("language_select").value.toLowerCase();
            let graph_type = document.getElementById("graph_select").value.toLowerCase();
            let code_text = encodeURIComponent(editor.getValue());
            let query = `http://localhost:8000/view_graph?code=${code_text}&lang=${language}&model=${graph_type}`
            clearTimeout(delayTimer);
            delayTimer = setTimeout(async function () {
                let res = await fetch(query);
                if (res.status !== 200) {
                    /*HANDLE ERROR CODE*/
                }
                let js = await res.text();
                d3.select("#graph").graphviz()
                    .renderDot(js);
            }, wait_for_change_delay);
        }

        editor.on('change', function() {
            update_graph()
        })
        /*---------------------------------------*/



        /*RESIZER SCRIPTS*/

        const ExpandMode = {CODE: "code", GRAPH: "graph", MIDDLE: "middle", CUSTOM: "custom"};
        var currentExpandMode = ExpandMode.MIDDLE;

        function toggle_expand_mode(selectedExpandMode) {
            if (currentExpandMode === selectedExpandMode) {
                setExpandMode(ExpandMode.MIDDLE);
            } else {
                setExpandMode(selectedExpandMode);
            }
        }

        function setExpandMode(expandMode) {
            let code_wrapper = document.getElementById("code_wrapper");
            let code_label = document.getElementById("code_resizer_label");
            let graph_wrapper = document.getElementById("graph_wrapper");
            let graph_label = document.getElementById("graph_resizer_label");
            switch (expandMode) {
                case ExpandMode.CODE:
                    code_wrapper.style.setProperty("width", "100%");
                    code_label.style.removeProperty("color");
                    graph_wrapper.style.setProperty("width", "0%");
                    graph_label.style.setProperty("color", "white");
                    break
                case ExpandMode.GRAPH:
                    code_wrapper.style.setProperty("width", "0%");
                    code_label.style.setProperty("color", "white");
                    graph_wrapper.style.setProperty("width", "100%");
                    graph_label.style.removeProperty("color");
                    break
                case ExpandMode.MIDDLE:
                    code_wrapper.style.setProperty("width", "100%");
                    code_label.style.removeProperty("color");
                    graph_wrapper.style.setProperty("width", "100%");
                    graph_label.style.removeProperty("color");
                    break
            }
            currentExpandMode = expandMode;
        }
        /*---------------------------------------*/




        /*CUSTOM SELECT SCRIPTS*/



        /*---------------------------------------*/

    </script>
</body>
</html>


